<!-- BEGIN: Main Menu-->
<!-- main menu-->
<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
  <!-- main menu header-->
  <!-- / main menu header-->
  <!-- main menu content-->
  <div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
      <li class=" nav-item"><a href="{% url 'main_react_app' %}"><i class="ft-life-buoy"></i><span class="menu-title" data-i18n="">Classifier</span></a>
      </li>
      <li class=" nav-item"><a href="#"><i class="ft-zap"></i><span class="menu-title" data-i18n="">More info</span></a>
      </li>
    </ul>
  </div>
  <!-- /main menu content-->
  <!-- main menu footer-->
  <!-- main menu footer-->
</div>
<!-- / main menu-->
<!-- END: Main Menu-->
