/* .no-vazkir {
  pointer-events: none !important;
  cursor: default !important;
} */


/*
all:initial -> Cleares all existing applied CSS to that element
Meaning CSS any existing (like a website's) CSS will bu nulled.
e.g. if bol.com has ul > div {color: blue; overflow: something}, will be reverted removed,
only for the specific element specified. see: https://stackoverflow.com/questions/15901030/reset-remove-css-styles-for-element-only
 */
/* .vazkir-select {
  all:initial !important;
  overflow:hidden !important;
} */


.test-hl {
  background-color:yellow !important;
  /* overflow:hidden !important; */
}
